* {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 라이브러리 */
.row:after {
  content: "";
  clear: both;
  display: block;  
}
.cell {
  float: left;
}
/* 스타일 */
ul ul{
  display: none;
  position: absolute ;
  background-color:white;
}
ul ul ul{
  display: none;
}
.top_menu {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.top_menu > li {
  width: 25%;
}
ul > li{
  position:relative;
  height: 40px ;
  line-height: 40px ;
} 
.top_menu > li > ul{
  position: absolute; 
  color: black;
  width: 100%;
  background: white;
}
.top_menu > li > ul> li {
  position: relative; 
}
.top_menu > li > ul> li > ul{
  position: absolute; 
  color: black;
  top: 0;
  left: 100%;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
.top_menu > li:hover {
  color: white;
  background: black;
}
.top_menu > li > ul > li:hover {
  color: white;
  background: black;
}
.top_menu > li > ul > li > ul > li:hover {
  color: white;
  background: black;
}
ul > li:hover > ul{
  display: block;
}
ul ul > li:hover > ul{
  display: block;
}