/* 노멀라이징 */
* {
  padding: 0;
  margin: 0;
  font-family: "proxima nova", "proxima-nova", "Nanum Gothic", Helvetica, Arial,
    sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 라이브러리 */
.cell {
  float: left;
}
.cell-r {
  float: right;
}
.con {
  max-width: 1440px;
  margin: 0 auto;
}
.row::after {
  clear: both;
  display: block;
  content: "";
}
/* 스타일 */

/* 상단 메뉴 시작 */
.nav-wrap {
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  background: white;
  transition: 0.5s;
  z-index: 10;
}

.nav-wrap > .nav-box {
  height: 100%;
}

.nav-wrap > .nav-box > .logo-box {
  width: 140px;
  height: 60px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-wrap > .nav-box > .logo-box > svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-wrap > .nav-box > .menu-box {
  height: 60px;
  line-height: 60px;
}

.nav-wrap > .nav-box > .menu-box > ul:hover {
  color: #ddd;
}
.nav-wrap > .nav-box > .menu-box > ul > li:hover {
  color: black;
}
.nav-wrap > .nav-box > .menu-box > ul > li > a {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.nav-wrap > .nav-box > .icon-box {
  height: 60px;
  line-height: 60px;
}
.nav-wrap > .nav-box > .icon-box > ul:hover {
  color: #ddd;
}
.nav-wrap > .nav-box > .icon-box > ul > li:hover {
  color: black;
}
.nav-wrap > .nav-box > .icon-box > ul > li > a {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-wrap > .nav-box > .serch-box {
  width: 60px;
  height: 60px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
}
/* 상단 메뉴 끝 */

/* 2차 메뉴 시작 */
.nav-2-depth-wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  margin-top: 60px;
}
.nav-2-depth-wrap.active {
  opacity: 1;
  visibility: visible;
}
.nav-2-depth-wrap > .nav-2-depth {
  height: 100%;
}
.nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-left {
  width: 50%;
  height: 100%;
  position: relative;
}
.nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-left::after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}
.nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-right {
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-left > .nav-2-content {
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background: #fff;
  padding-top: 40px;
  padding-left: 40px;
  font-size: 28px;
  font-weight: bold;
  box-sizing: border-box;
  position: absolute;
  transition: 0.5s;
}
.nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-left > .nav-2-content.active {
  left: 0;
}
.nav-2-depth-wrap
  > .nav-2-depth
  > .nav-2-depth-left
  > .nav-2-content
  > .list-box {
  width: 100%;
  margin-bottom: 80px;
}
.nav-2-depth-wrap
  > .nav-2-depth
  > .nav-2-depth-left
  > .nav-2-content
  > .list-box
  > ul
  > li {
  margin-bottom: 24px;
}
.nav-2-depth-wrap
  > .nav-2-depth
  > .nav-2-depth-left
  > .nav-2-content
  > .recom-box {
  font-size: 18px;
  font-weight: normal;
}
.nav-2-depth-wrap
  > .nav-2-depth
  > .nav-2-depth-left
  > .nav-2-content
  > .recom-box
  > ul {
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.nav-2-depth-wrap
  > .nav-2-depth
  > .nav-2-depth-left
  > .nav-2-content
  > .recom-box
  > ul
  > li {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.nav-2-depth-wrap
  > .nav-2-depth
  > .nav-2-depth-left
  > .nav-2-content
  > .recom-box
  > ul
  > li
  > img {
  width: 100%;
}
/* 2차 메뉴 끝 */

/* 섹션1 시작 */
.section01-wrap {
  margin-top: 60px;
  position: relative;
}
.section01-wrap > .section01 {
  width: 100%;
}
.section01-wrap > .section01 > .img-box {
  width: 100%;
  padding-bottom: 62.5%;
  background-size: cover;
}
.section01-wrap .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  transition: 0.5s;
}
.section01-wrap .overlay .title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.section01-wrap .overlay .content {
  letter-spacing: -1px;
}
.section01-wrap .overlay a {
  display: block;
  letter-spacing: -1px;
  font-size: 0.9rem;
  font-weight: 500;
  box-sizing: border-box;
  padding: 10px 50px;
}
.section01-wrap .overlay .section01-product-details {
  margin-top: 15px;
  border: 1px solid black;
}
/* 섹션1 끝 */

/* 섹션2 시작 */
.section-wrap.section02-wrap {
  margin: 0 auto;
  height: 380px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
.section-wrap.section02-wrap p {
  font-size: 32px;
  font-weight: 700;
}

/* 애로우 박스 시작 */
.section-wrap .arrow {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 22px;
  padding-top: 15px;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.section-wrap .arrow svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section-wrap .svg-wrap {
  margin-top: 15px;
  display: inline-block;
}
.section-wrap .svg-wrap span {
  padding-left: 14px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}
/* 에로우 박스 끝 */

.narrow-section-wrap {
  width: 680px;
  margin: 0 auto;
}
.narrow-section-wrap .item {
  width: 25%;
  text-align: center;
}
.narrow-section-wrap img {
  width: 100%;
}

/* 섹션2 끝 */

/* 섹션 9 시작*/
.section09-wrap {
  margin: 0 auto;
  height: 160px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
.section09-wrap p {
  font-size: 32px;
  font-weight: 700;
}
/* 섹션 9 끝 */

/* 타일 섹션 시작(모듈화 완료) */
.section-wrap {
  position: relative;
}
.section-wrap .img-box > img {
  width: 100%;
  display: block;
}
.section-wrap > .section-50 {
  position: relative;
  width: 50%;
}
.section-wrap > .section-50 > .img-box {
  width: 100%;
  padding-bottom: 125%;
  background-size: cover;
}
.section-wrap > .section-50 > .section-50-50 {
  position: relative;
  width: 50%;
}
.section-wrap > .section-50 > .section-50-50 > .img-box {
  width: 100%;
  padding-bottom: 125%;
  background-size: cover;
}
.section-wrap > .section-50 > .section-50-50 > .img-box.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.section-wrap > .section-50 > .section-50-50:hover > .img-box.hover {
  opacity: 1;
}
.section-wrap > .section-50 > .section-50-50 > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0.5s;
}
.section-wrap > .section-50 > .section-50-100 {
  width: 100%;
}
.section-wrap > .section-50 > .section-50-100 > .img-box {
  width: 100%;
  padding-bottom: 62.5%;
  background-size: cover;
}
.section-wrap .overlay span {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.section-wrap .overlay .product-badges,
.section-wrap .overlay .product-details {
  position: absolute;
}
.section-wrap .overlay .product-badges {
  top: 5%;
  right: 5%;
}
.section-wrap .overlay .product-details {
  bottom: 5%;
  left: 5%;
  font-size: 14px;
  font-weight: 400;
}
.section-wrap > .section-100 {
  width: 100%;
}
.section-wrap > .section-100 > .img-box {
  width: 100%;
  padding-bottom: 62.5%;
  background-size: cover;
}
.section-wrap > .section-100 > .section-100-25 {
  width: 25%;
  padding: 4px;
  box-sizing: border-box;
}
.section-wrap > .section-100 > .section-100-25 > .img-box {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
}

/* 오버레이 YELLOW 서식 */
.overlay-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay-50-yellow {
  position: absolute;
  top: 3%;
  left: 5%;
  color: #eebc3b;
}
.overlay-50-yellow .large-text {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  display: block;
}
.overlay-50-yellow .text {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  display: block;
}

/* 오버레이 WHITE 서식 시작 */
.section-wrap .overlay-white {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.5s;
}
.section-wrap .overlay-white .title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.section-wrap .overlay-white .content {
  letter-spacing: -1px;
}
.section-wrap .overlay-white a {
  display: block;
  letter-spacing: -1px;
  font-size: 0.9rem;
  font-weight: 500;
  box-sizing: border-box;
  padding: 10px 50px;
}
.section-wrap .overlay-white .product-details {
  margin-top: 15px;
  border: 1px solid black;
}
/* 오버레이 WHITE 서식 끝 */




/* 섹션5 끝 */

@media screen and (max-width: 720px) {
  .section-wrap > .section-50 {
    width: 100%;
  }
}
